
<style>

  span {
    cursor: pointer;
  }

  img {
    max-width: 100%;
  }

</style>

<div class="mt-5">
  <h3 class="ms-3 ms-md-5">Edit Product</h3>
</div>

<div class="container shadow-lg p-3 mb-5 mt-4 rounded">
    {{#if product}}
  <form
    action="/admin/edit-product"
    class="row g-3 needs-validation"
    method="post"
    enctype="multipart/form-data"
    novalidate
  >
    <div class="col-md-6 ">
      <label for="productName"  class="form-label">Product Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        value="{{product.name}}"
        id="productName"
        {{!-- pattern="[A-Za-z ]+" --}}
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="col-md-6">
      <label for="category" class="form-label">Category Name</label>
    <select class="form-select category-name" name="categoryName" id="category" required>
      <option class="" value="{{product.categoryName}}" disabled selected>{{product.categoryName}}</option>
      {{#each categories}} 
      <option class="other-category" 
      {{!-- pattern="[A-Za-z ]+" --}}
      > {{this.name}} </option>
      
      {{/each}}
    </select>
    <div class="invalid-feedback">
      Please select a Category.
    </div>
  </div>

    <div class="col-md-12">
  <label for="categoryDescription" class="form-label">Description</label>
  <input
    type="text"
    class="form-control"
    name="description"
    id="categoryDescription"
    value="{{product.description}}"
    {{!-- pattern="[A-Za-z ]+" --}}
    required
  />
  <div class="valid-feedback">
    Looks good!
  </div>
  <div class="invalid-feedback">
    Please enter only letters and spaces.
  </div>
</div>


    <div class="col-md-4">
    <label for="category" class="form-label">Brands</label>
    <select class="form-select" name="brand" id="brand" required>
      <option selected disabled value="{{product.brand}}" class="text-danger">{{product.brand}}</option>
      <option value="BPI Sports">BPI Sports</option>
      <option value="Dragon Pharma">Dragon Pharma</option>
      <option value="Dymatize">Dymatize</option>
      <option value="BNC">BNC</option>
      <option value="GNC">GNC</option>
      <option value="Muscleblaze">Muscleblaze</option>
      <option value="Muscle Science">Muscle Science</option>
      <option value="One Science">One Science</option>
      <option value="Optimum Nutrition">Optimum Nutrition</option>
      <option value="QNT">QNT</option>
      <option value="Ritebite">Ritebite</option>
    </select>
    <div class="invalid-feedback">
      Please select a Brand 
    </div>
  </div>


    <div class="col-md-4">
      <label for="highlights" class="form-label">Highlights (Specs)
        <span class="add-highlight-input border rounded-2 border-success px-2">
        +
      </span>
      </label>
      <div class="highlights">
        {{#each product.highlights}}
      <input
        type="text"
        class="form-control mb-2"
        name="highlights"
        id="highlights"
        value="{{this}}"
        {{!-- pattern="[A-Za-z ]+" --}}
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
        {{/each}}
      </div>
    </div>

    <div class="col-md-4">
      <label for="prices" class="form-label">Price</label>
      <input
        type="number"
        class="form-control"
        name="price"
        value="{{product.price}}"
        id="prices"
        min="0"
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="col-md-4">
      <label for="salePrices" class="form-label">Sale Price</label>
      <input
        type="number"
        class="form-control"
        name="salePrice"
        value="{{product.salePrice}}"
        id="salePrices"
        min="0"
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>


    <div class="col-md-4">
      <label for="rating" class="form-label">Rating</label>
      <input
        type="number"
        class="form-control"
        name="rating"
        id="rating"
        value="{{product.rating}}"
        step="0.5"
        min="0.5"
        max="5"
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="col-md-4">
    <label for="flavour" class="form-label">Flavour</label>
    <select class="form-select" name="flavour" id="flavour" required>
      <option selected disabled value="{{product.flavour}}">{{product.flavour}}</option>
      <option value="Chocolate" >Chocolate</option>
      <option value="Chocolate Charge" >Chocolate Charge</option>
      <option value="Double Rich Chocolate" >Double Rich Chocolate</option>
      <option value="Unflavoured" >Unflavoured</option>
      <option value="Strawberry" >Strawberry</option>
      <option value="Vanilla" >Vanilla</option>
    </select>
    <div class="invalid-feedback">
      Please select a Flavour
    </div>
  </div>


    <div class="d-flex col-md-4">
    <div class="col-8">
      <label for="ProductSize" class="form-label">Size
      </label>
      <div class="sizes">
      <input
        type="number"
        class="form-control"
        name="size"
        id="ProductSize"
        value="{{size}}"
        min="1"
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
      </div>

    <div class="ms-1 col-4" style="margin-top: 30px;">
    <select class="form-select" name="unit" required>
      <option selected  value="{{unit}}" > {{unit}} </option>
      <option value="kg">Kg</option>
      <option value="Gm">Gm</option>
      <option value="Lbs">Lbs</option>
      <option value="Units">Unit</option>
      <option value="Capsules">Capsules</option>
      <option value="Tablets">Tablets</option>
    </select>
  </div>

  </div>

    <div class="col-md-4">
      <label for="quantity" class="form-label">Quantities</label>
      <input
        type="number"
        class="form-control"
        name="quantities"
        value="{{product.quantities}}"
        id="quantity"
        min="1"
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="originCountry" class="form-label">Origin(Country)</label>
      <input
        type="text"
        class="form-control"
        name="origin"
        value="{{product.origin}}"
        id="originCountry"
        {{!-- pattern="[A-Za-z ]+" --}}
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="col-md-4">
      <label for="bestBefore" class="form-label">Best Before</label>
      <input
        type="date"
        class="form-control"
        name="bestBefore"
        value="{{product.bestBefore.day}}"
        id="bestBefore"
        min="1"
        
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="col-md-4 d-none">
      <label for="prodID" class="form-label">Product ID</label>
      <input
        type="text"
        class="form-control"
        name="prodID"
        value="{{product._id}}"
        id="prodID"
      />
    </div>

    <div class="col-md-12 d-flex">
      <img
        id="image"
        class="image-display rounded-3 w-25 image-fluid mx-auto mt-3"
        style="height: auto;"
      />
    </div>
    
    {{!-- cropped image --}}
    <div class="col-md-12 crop-image-container" style="display: none;">
     <img
        class="rounded-3 w-50 mx-auto cropped-image border border-1"
        alt="Cropped Image"
      />
      <p>Size:
        <span class="view-height">
          - -
        </span> x
        <span class="view-width">
          - -
        </span> 
      </p>
      
    </div>
    {{!-- // cropped image --}}

    <div class="d-flex edit-crop-section">
      <div class="btn btn-dark image-edit" style="display: none;">EDIT</div>
      <div class="btn btn-success btn-sm crop-btn" style="display: none;">CROP</div>
    </div>

    <div class="col-md-12">
      <label for="categoryImage" class="form-label"> Product Thumbnail </label>
      <input
        type="file"
        name="file0"
        class="form-control category-img"
        aria-label="file example"
        id="categoryImage"
        accept="image/*"
      />
      <div class="invalid-feedback">Please Upload the Category Image</div>
    </div>

    <div class="col-md-12 d-flex">
      <img
        class="image-display rounded-3 w-25 image-fluid mx-auto mt-3"
        style="height: auto;"
      />
    </div>

    {{!-- cropped image --}}
    <div class="col-md-12 crop-image-container" style="display: none;">
     <img
        class="rounded-3 w-50 mx-auto cropped-image border border-1"
        alt="Cropped Image"
      />
      <p>Size:
        <span class="view-height">
          - -
        </span> x
        <span class="view-width">
          - -
        </span> 
      </p>
      
    </div>
    {{!-- // cropped image --}}

    <div class="d-flex edit-crop-section">
      <div class="btn btn-dark image-edit" style="display: none;">EDIT</div>
      <div class="btn btn-success btn-sm crop-btn" style="display: none;">CROP</div>
    </div>

    <div class="col-md-12">
      <label for="categoryImage" class="form-label"> Product Image 1 </label>
      <input
        type="file"
        name="file1"
        class="form-control category-img"
        aria-label="file example"
        id="categoryImage"
        accept="image/*"
      />
      <div class="invalid-feedback">Please Upload the Category Image</div>
    </div>

    <div class="col-md-12 d-flex">
      <img
        class="image-display rounded-3 w-25 image-fluid mx-auto mt-3"
        style="height: auto;"
      />
    </div>

    {{!-- cropped image --}}
    <div class="col-md-12 crop-image-container" style="display: none;">
     <img
        class="rounded-3 w-50 mx-auto cropped-image border border-1"
        alt="Cropped Image"
      />
      <p>Size:
        <span class="view-height">
          - -
        </span> x
        <span class="view-width">
          - -
        </span> 
      </p>
      
    </div>
    {{!-- // cropped image --}}

    <div class="d-flex edit-crop-section">
      <div class="btn btn-dark image-edit" style="display: none;">EDIT</div>
      <div class="btn btn-success btn-sm crop-btn" style="display: none;">CROP</div>
    </div>

    <div class="col-md-12">
      <label for="categoryImage" class="form-label"> Product Image 2 </label>
      <input
        type="file"
        name="file2"
        class="form-control category-img"
        aria-label="file example"
        id="categoryImage"
        accept="image/*"
      />
      <div class="invalid-feedback">Please Upload the Category Image</div>
    </div>

    <div class="col-md-12 d-flex">
      <img
        class="image-display rounded-3 w-25 image-fluid mx-auto mt-3"
        style="height: auto;"
      />
    </div>

    {{!-- cropped image --}}
    <div class="col-md-12 crop-image-container" style="display: none;">
     <img
        class="rounded-3 w-50 mx-auto cropped-image border border-1"
        alt="Cropped Image"
      />
      <p>Size:
        <span class="view-height">
          - -
        </span> x
        <span class="view-width">
          - -
        </span> 
      </p>
      
    </div>
    {{!-- // cropped image --}}

    <div class="d-flex edit-crop-section">
      <div class="btn btn-dark image-edit" style="display: none;">EDIT</div>
      <div class="btn btn-success btn-sm crop-btn" style="display: none;">CROP</div>
    </div>

    <div class="col-md-12">
      <label for="categoryImage" class="form-label"> Product Image 3 </label>
      <input
        type="file"
        name="file3"
        class="form-control category-img"
        aria-label="file example"
        id="categoryImage"
        accept="image/*"
      />
      <div class="invalid-feedback">Please Upload the Category Image</div>
    </div>

    <div class="col-12 d-flex">
      <button class="btn btn-success mx-auto" type="submit">Save</button>
    </div>
  </form>
  {{/if}}
</div>

<script src="/javaScript/editProduct.js"></script>

 <script>
    // Image Checking While Uploading
  const images = document.querySelectorAll('.image-display')
  const categoryImages = document.querySelectorAll('.category-img')
  const editCropSection = document.querySelectorAll('.edit-crop-section')
  const cropBtn = document.querySelectorAll('.crop-btn')
  const imageEdit = document.querySelectorAll('.image-edit')
  const croppedImages = document.querySelectorAll(".cropped-image");
  const newCroppedImages = document.querySelectorAll('.cropped-images');
  const croppedImageHeight = document.querySelectorAll('.view-height');
  const croppedImageWidth = document.querySelectorAll('.view-width');
  const croppedImgContainer = document.querySelectorAll('.crop-image-container');

  categoryImages.forEach((categoryImage, index) => {
  categoryImage.addEventListener('change', (e) => {
    

    images[index].src = URL.createObjectURL(e.target.files[0])
    cropBtn[index].style.display = "block" 
    imageEdit[index].style.display = "block" 

  })
  })

/***************************** Flavour and size ************************************************/
const addFlavourInputField = document.querySelector('.add-flavour-input');
const addSizeInputField = document.querySelector('.add-size-input');
const addHighlightInputField = document.querySelector('.add-highlight-input');
const flavoursInput = document.querySelector('.flavours');
const sizesInput = document.querySelector('.sizes');
const highlightsInput = document.querySelector('.highlights');


const addInputWithDeleteBtn = (inputType, inputName, inputField) => {
  let input = document.createElement('input')
  input.type = inputType
  input.name = inputName
  input.required = true
  input.classList.add('form-control', 'mt-1')
  inputField.appendChild(input)

  //delete btn
  let deleteBtn = document.createElement('button')
  deleteBtn.innerText = "Delete"
  deleteBtn.classList.add('btn', 'btn-danger', 'btn-sm',)
  inputField.appendChild(deleteBtn)

  //delete the input 
  deleteBtn.addEventListener('click', ()=> {
    inputField.removeChild(input)
    inputField.removeChild(deleteBtn)
  })
}
  


// Highlight
addHighlightInputField.addEventListener('click', () => {
  addInputWithDeleteBtn('number', 'highlights', highlightsInput)
})
/***************************** Flavour and size ************************************************/


// DOMContentLoaded
window.addEventListener('DOMContentLoaded', () => {
imageEdit.forEach((btn, index) => {
    btn.addEventListener('click', ()=> {
          let cropper = new Cropper(images[index], {
          //  aspectRatio: 0,
          aspectRatio: 4 / 3,  
          cropBoxResizable: false,
          });
          console.log(cropper)
          cropBtn[index].addEventListener('click', ()=> {
            console.log(`Cropped`)
            croppedImgContainer[index].style.display = "block"
            let croppedImgValues = cropper.getCroppedCanvas()
            console.log(croppedImgValues)
            croppedImageWidth[index].innerHTML = croppedImgValues.width
            croppedImageHeight[index].innerHTML = croppedImgValues.height
            let croppedImageURL = cropper.getCroppedCanvas().toDataURL('image/png')
            console.log(croppedImageURL)
            croppedImages[index].src = croppedImageURL
          })
      })
  })
})
// // DOMContentLoaded

</script> 