<div class="mt-5">
  <h3 class="ms-3 ms-md-5">Edit Carousel</h3>
</div>

<div class="container shadow-lg p-3 mb-5 mt-4 rounded">
  <form class="row g-3 needs-validation" enctype="multipart/form-data" novalidate>

    <div class="col-md-12">
      <label for="carouselName" class="form-label">Carousel Name</label>
      <input type="text" class="form-control" value="{{carousel.name}}" name="name" id="carouselName" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="col-md-12 d-flex">
      <img src="/uploads/{{carousel.imageUrl}}" class="image-display rounded-3 w-25 image-fluid mx-auto mt-3"
        style="height: auto;">
    </div>

    <div class="col-md-12">
      <label for="categoryImage" class="form-label">Carousel Image</label>
      <input type="file" accept="image/*" name="file" class="form-control carousal-img" aria-label="file example"
        id="categoryImage">
      <div class="invalid-feedback">Please Upload the Category Image</div>
    </div>

    <div class="col-md-6">
      <label for="subDestination" class="form-label">Sub-Destination</label>
      <select class="form-select" aria-label="Default select example" name="subDestination" id="subDestination"
        required>
        <option>{{carousel.type}}</option>
        <option value="category">Category</option>
        <option value="product">Product</option>
      </select>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="col-md-6">
      <label for="destination" class="form-label">Destination</label>
      <select class="form-select" aria-label="Default select example" name="destinationID" id="destination" required>
        <option selected>{{destination.name}}</option>
        <option class="d-none" value="{{destination._id}}" selected>{{destination.name}}</option>
      </select>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>


    {{!-- <div class="d-none">
      <input type="text" value="" name="existingDestination">
    </div>
    --}}

    <div class="col-md-12">
      <label for="bestBefore" class="form-label">Expiry Date</label>
      <input type="date" class="form-control" value="{{carousel.expiryDate}}" name="expiryDate" id="bestBefore">
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="d-none">
      <input type="text" value="{{carousel._id}}" name="carouselID">
    </div>

    <div class="col-12 d-flex">
      <button class="btn btn-success mx-auto" id="edit-carousel" type="submit">Update</button>
    </div>
  </form>
</div>

<script src="/javaScript/editCarousel.js"></script>
<script>

  // view the Carousel Image
  const carousalImg = document.querySelector('.carousal-img')
  const viewCarousalImg = document.querySelector('.image-display')

  carousalImg.addEventListener('change', (e) => {
    viewCarousalImg.src = URL.createObjectURL(e.target.files[0])
  })


  // Carousel Destination
  const subDestination = document.querySelector('#subDestination')
  let destination = document.querySelector('#destination')

  subDestination.addEventListener('change', () => {
    let option = subDestination.value
    $.ajax({
      url: `/admin/carousel-destinations`,
      method: 'GET',
      data: { option: option },
      success: response => {
        if (response.status) {
          let destinations = response.destinations
          let html = `<option selected>Select the Destination</option>`
          destinations.forEach(destination => {
            html += `
          <option value="${destination._id}">${destination.name}</option>
          `
          })
          destination.innerHTML = html
        } else {
          if (response.message) {

            return
          }
          window.location.href = response.redirected
        }
      }
    })
  })



</script>