<div class="mt-5">
  <h3 class="category-title ms-3 ms-md-5 " style="cursor: pointer;">
    Carousels <a href="/admin/add-carousel">
     <i class="fa-solid fa-square-plus text-success fs-2 ms-1"></i>
    </a>
    </h3>
</div>

<div class="container table-responsive shadow-lg rounded mt-4">
  <table class="table mt-3 ">
    <thead class="table-dark">
      <tr>
        <th scope="col">NO</th>
        <th scope="col">Carousal</th>
        <th scope="col">Destination</th>
        <th scope="col">Expiry Date</th>
        <th scope="col">Status</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each categories}}
      <tr>
        <th scope="row"> {{increment @index}} </th>
        <td> {{this.name}} </td>
        <td> {{this.description}} </td>
        <td>
          {{#if this.isActive}}
          <label class="switch">
            <input type="checkbox" checked />
            <span class="slider round"></span>
          </label>
          {{else}}
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
          {{/if}}
        </td>
        <td>
          <a href="/admin/edit-category/{{this._id}}">
            <i class="fa-solid fa-pen" style="cursor: pointer; color: rgb(15, 223, 15);">
            </i>
          </a>
        </td>
        <td>
          <a onclick="deleteCategory(`{{this._id}}`, this.parentElement.parentElement)" class="btn-category-action">
            <i class="fa-solid fa-trash mx-auto px-3" style="cursor: pointer; color: red;">
            </i>
          </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <h3 style="display: none;" class="text-center fw-2 error-message"></h3>

  {{#if pagination}}
  <nav aria-label="Page navigation example" class="d-flex fixed-bottom " style="z-index: 2;">
    <ul class="pagination mx-auto py-3 admin-pagination" id="pagination-body">
      {{#if pagination.isPrevious}}
      <li class="page-item"><a class="page-link bg-dark prev-next-number"
          href="/admin/category?page={{paginationManipulation pagination.currentPage -1}}">Previous</a></li>
      {{/if}}
      {{#each (paginationNumbers 1 pagination.totalPages)}}
      <li class="page-item">
        <a class="page-link page-number" href="/admin/category?page={{this}}">{{this}}</a>
      <li>
        {{/each }}

        {{#if pagination.isNext}}
      <li class="page-item"><a class="page-link bg-dark prev-next-number"
          href="/admin/category?page={{paginationManipulation pagination.currentPage 1}}">Next</a></li>
      {{/if}}
    </ul>
  </nav>
  {{/if}}
</div>
