<style>
    input[type=file]::file-selector-button {
        margin-right: 20px;
        border: none;
        background: #F46F36;
        padding: 4px 25px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        transition: background .2s ease-in-out;
    }

    input[type=file]::file-selector-button:hover {
        background: #000000;
    }
</style>

<div class="mt-5">
    <h3 class="ms-3 ms-md-5">Settings</h3>
</div>

<div class="container table-responsive shadow-lg rounded">

    <div class="row">
       <div class="col-md-4">
  <div class="">
    <div class="p-3 mt-3 mb-4 shadow-lg rounded-2 text-center">
      <img 
        style="width: 100px; height: 100px; object-fit: cover;" 
        class="p-2 rounded-circle profile-pic" 
        src="/uploads/no-user-image-icon-0.jpg" 
        alt="Profile Picture"
      >
      <h5 class="mt-2">Bruce Wayne</h5>
      <h5 class="mt-2 text-center rounded-2 p-1 text-white" style="background-color: #F46F36;">Admin</h5>
    </div>
    <div class="p-3 mt-3 mb-3 shadow-lg rounded-2">
      <form class="needs-validation" enctype="multipart/form-data" novalidate>
        <div class="row align-items-center">
          <div class="col-12 col-sm-8 mb-2 mb-sm-0">
            <input 
              type="file" 
              class="form-control form-control-sm rounded-3 profile-pic-selector" 
              accept="image/*" 
              name="file" 
              required
            >
            <div class="invalid-feedback">
              Please upload a file!
            </div>
          </div>
          <div class="col-12 col-sm-4 text-sm-end">
            <button 
              type="submit" 
              id="changeProfilePic" 
              class="btn btn-sm btn-outline-dark w-100"
            >
              Upload
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

        <div class="col-md-8">
            <h5 class="mt-3 px-2">Personal Information</h5>
            <form class="row g-2 needs-validation p-4 me-lg-5" id="admin-details-form" novalidate>
                <div class="col-md-6 col-lg-6 ">
                    <label for="firstName" class="form-label">FIRSTNAME</label>
                    <input type="text" name="firstName" class="form-control" id="firstName"
                        value="{{currentAdmin.firstName}}" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="col-md-6 col-lg-6">
                    <label for="lastName" class="form-label">LASTNAME</label>
                    <input type="text" name="lastName" class="form-control" id="lastName"
                        value="{{currentAdmin.lastName}}" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="col-md-12">
                    <label for="email" class="form-label">EMAIL</label>
                    <div class="input-group has-validation">
                        <input type="email" name="email" class="form-control rounded-2" id="email"
                            style="cursor: not-allowed; background-color: rgba(227, 223, 223, 0.587);"
                            aria-describedby="inputGroupPrepend" value="{{currentAdmin.email}}" disabled required>
                        <div class="valid-feedback">
                            Email address is valid
                        </div>
                        <div class="invalid-feedback">
                            Please enter a valid email address
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12">
                    <label for="mobileNumber" class="form-label">MOBILE</label>
                    <input type="tel" name="mobileNumber" class="form-control" id="mobileNumber" minlength="10"
                        pattern="[1-9]{1}[0-9]{9}" maxlength="10" value="{{currentAdmin.mobileNumber}}" required>
                    <div class="valid-feedback">
                        Mobile number is valid
                    </div>
                    <div class="invalid-feedback">
                        Please enter a valid 10-digit mobile number
                    </div>
                </div>

                <div class="d-none">
                    <input type="text" class="d-none" value="{{currentAdmin._id}}" name="adminID">
                </div>

                <h6 style="color: rgb(113, 113, 113);" class="d-none">
                    change password
                </h6>
                <div>
                    <div class="col-12 d-flex">
                        {{!-- <a href="/">
                            <button type="button" class="btn mt-2 mt-lg-2 mt-xl-4">
                                <i class="fa-solid fa-user-pen"></i>
                            </button>
                        </a> --}}
                        <button id="updateAdminDetails" class="btn mt-2 mt-lg-2 mt-xl-4 bg-dark"
                            style="color: #F46F36; display: none;" type="submit">Save Changes</button>
                    </div>
                    {{#if loginMessage}}
                    <p class="text-success py-2 text-center">
                        {{loginMessage}}
                    </p>
                    {{/if}}
                </div>
            </form>
        </div>
    </div>

</div>


<script src="/javaScript/adminSettings.js"></script>

<script>

    const saveBtn = document.querySelector('#updateAdminDetails')
    document.querySelectorAll('#admin-details-form').forEach(form => {
        form.addEventListener('input', () => {
            saveBtn.style.display = 'block'
        })
    })

</script>