<style>
    .active>.page-link,
    .page-link.active {
        background-color: #F46F36;
        border-color: black;
        color: white;

    }
</style>

<div class="mt-5">
    <h3 class="ms-3 ms-md-5">All Orders</h3>
</div>

<div class="mx-2 mx-md-5 mt-3 table-responsive shadow-lg rounded">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">NO</th>
                <th scope="col">Order No</th>
                <th scope="col">Amount</th>
                <th scope="col">Payment</th>
                <th scope="col">Payment Status</th>
                <th scope="col">Date</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody id="orderTable">
            {{#if orders}}
            {{#each orders}}
            <tr>
                <th scope="row">{{increment @index}}</th>
                <td>{{this.orderNumber}}</td>
                <td><span>₹</span>{{this.totalSalePrice}} <span>.00</span> </td>
                <td>{{this.paymentMethod}}</td>
                <td>{{this.paymentStatus}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/admin/orders/view-details/{{this._id}}" style="text-decoration: none; color: #F46F36;">
                        View Details <i class="fa-solid fa-up-right-from-square ms-1"></i>
                    </a>
                </td>
            </tr>
            {{/each}}
            {{else}}
            <tr>
                <td colspan="10" class="fw-semibold fs-4 text-center text-danger select-disabled">
                    No Orders Till Now...
                </td>
            </tr>
            {{/if}}
        </tbody>
    </table>

    <nav aria-label="Page navigation example" class="d-flex fixed-bottom" style="z-index: 2;">

        <ul class="pagination mx-auto py-3 admin-pagination">
            {{#if pagination.isPrevious}}
            <li class="page-item">
                <a class="page-link bg-dark prev-next-number"
                    href="/admin/orders?page={{paginationManipulation pagination.currentPage -1}}">Previous
                </a>
            </li>
            {{/if}}

            {{#each (paginationDynamicNumbers pagination.currentPage pagination.totalPages)}}
            <li class="page-item">
                <a class="page-link page-number" href="/admin/orders?page={{this}}">
                    {{this}}
                </a>
            </li>
            {{/each}}

            {{#if pagination.isNext}}
            <li class="page-item">
                <a class="page-link bg-dark prev-next-number"
                    href="/admin/orders?page={{paginationManipulation pagination.currentPage 1}}">Next
                </a>
            </li>
            {{/if}}
    </nav>

    <input class="d-none error-message" value="{{errMsg}}" type="text">

</div>

<script>

    //Function to change Order Status
    function changeOrderStatus(event) {
        const element = event.target
        const elementValue = element.value
        console.log(elementValue)
        const orderID = element.getAttribute('data-order-id')
        console.log(orderID)
        $.ajax({
            url: "/admin/orders/update-status",
            method: 'PUT',
            data: {
                orderID,
                orderStatus: elementValue
            },
            success: response => {
                if (response.status) {
                    Swal.fire(`Status Updated`)
                        .then(() => {
                            window.location.href = response.redirected
                        })
                } else {
                    window.location.href = response.redirected
                }
            }
        })
    }

    document.addEventListener('DOMContentLoaded', (e) => {
        const pageNumber = document.querySelectorAll('.page-number')
        let pageUrl = new URL(e.srcElement.URL)
        let page = pageUrl.searchParams.get('page') || 1
        pageNumber.forEach(number => {
            number.classList.add('active')
            pageNumber.forEach(numb => numb.classList.remove('active'))
        })
        pageNumber[page - 1].classList.add('active')
    })

    document.querySelectorAll('.order-status').forEach(select => {
        select.addEventListener('change', changeOrderStatus)
    })

    const errorMessage = document.querySelector('.error-message')

    if (errorMessage.value && errorMessage.value !== "false") {
        Swal.fire(errorMessage.value);
    }


</script>