<div class="container">
    <div class="row">

        <div class="col-md-3 mt-5">
            {{>dashboard}}
        </div>

        <div class="col-md-9 mt-5 ">
            <div class="shadow-lg p-2">
                <h5 class="text-center ">EDIT ADDRESS</h5>
                {{#if billing}}
                <form action="/user/dashboard/address/update-address" method="post"
                    class="row g-3 needs-validation p-2 me-lg-5" novalidate>
                    <div class="row p-2">
                        <div class="col-md-12 mb-3">
                            <label for="address" class="form-label">ADDRESS</label>
                            <div class="input-group has-validation">
                                <input type="text" name="address" value="{{billing.billingAddress.address}}"
                                    class="form-control order-form" id="address" aria-describedby="inputGroupPrepend"
                                    required>
                                <div class="invalid-feedback">
                                    Address should be filled
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04" class="form-label">COUNTRY</label>
                            <select class="form-select order-form" name="country" id="validationCustom04" required>
                                <option selected disabled value="{{billing.billingAddress.country}}">
                                    {{billing.billingAddress.country}}
                                </option>
                                <option>INDIA</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid state.
                            </div>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04" class="form-label">STATE</label>
                            <select class="form-select order-form" name="state" id="validationCustom04" required>
                                <option selected disabled value="{{billing.billingAddress.state}}">
                                    {{billing.billingAddress.state}}
                                </option>
                                <option>KERALA</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid state.
                            </div>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04" class="form-label">CITY</label>
                            <select class="form-select order-form" name="city" id="validationCustom04" required>
                                <option selected disabled value="{{billing.billingAddress.city}}">
                                    {{billing.billingAddress.city}}
                                </option>
                                <option>EKM</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid state.
                            </div>
                        </div>

                        <div class="col-md-3 col-lg-3 mb-3">
                            <label for="zipcode" class="form-label">ZIP CODE</label>
                            <input type="tel" name="zipcode" value="{{billing.billingAddress.zipcode}}"
                                class="form-control order-form" id="zipcode" minlength="0" maxlength="6" required>
                            <div class="invalid-feedback">
                                Please enter the pincode
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-6 mb-3">
                            <label for="mobileNumber" class="form-label">MOBILE</label>
                            <input type="tel" name="mobile" value="{{billing.billingAddress.mobile}}"
                                class="form-control order-form" id="mobileNumber" minlength="10" required>
                            <div class="valid-feedback">
                                Mobile number is valid
                            </div>
                            <div class="invalid-feedback">
                                Please enter a valid 10-digit mobile number
                            </div>
                        </div>

                        {{!-- <div class="col-md-6 col-lg-6 mb-3">
                            <label for="mobileNumber" class="form-label">Address Type</label>
                            <select class="form-select order-form" name="addressType" id="validationCustom04" required>
                                <option selected disabled>Choose...</option>
                                <option value="billingAddress">Billing</option>
                                <option value="shippingAddress">Shipping</option>
                            </select>
                            <div class="valid-feedback">
                                Mobile number is valid
                            </div>
                            <div class="invalid-feedback">
                                Please enter a valid 10-digit mobile number
                            </div>
                        </div> --}}

                        <div class="d-none">
                            <input type="text" value="{{billing.billingAddress._id}}">
                        </div>

                    </div>
                    <div class="d-flex">
                        <button class="btn mx-auto" style="color: #F46F36; background-color: black;" type="submit">
                            SAVE
                        </button>
                    </div>
                </form>
                {{else}}
                <form action="/user/dashboard/address/update-address" method="post"
                    class="row g-3 needs-validation p-2 me-lg-5" novalidate>
                    <div class="row p-2">
                        <div class="col-md-12 mb-3">
                            <label for="address" class="form-label">ADDRESS</label>
                            <div class="input-group has-validation">
                                <input type="text" name="address" value="{{address.shippingAddress.address}}"
                                    class="form-control order-form" id="address" aria-describedby="inputGroupPrepend"
                                    required>
                                <div class="invalid-feedback">
                                    Address should be filled
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04" class="form-label">COUNTRY</label>
                            <select class="form-select order-form" name="country" id="validationCustom04" required>
                                <option selected disabled value="{{address.shippingAddress.country}}">
                                    {{address.shippingAddress.country}}
                                </option>
                                <option>INDIA</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid state.
                            </div>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04" class="form-label">STATE</label>
                            <select class="form-select order-form" name="state" id="validationCustom04" required>
                                <option selected disabled value="{{address.shippingAddress.state}}">
                                    {{address.shippingAddress.state}}
                                </option>
                                <option>KERALA</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid state.
                            </div>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04" class="form-label">CITY</label>
                            <select class="form-select order-form" name="city" id="validationCustom04" required>
                                <option selected disabled value="{{address.shippingAddress.city}}">
                                    {{address.shippingAddress.city}}
                                </option>
                                <option>EKM</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid state.
                            </div>
                        </div>

                        <div class="col-md-3 col-lg-3 mb-3">
                            <label for="zipcode" class="form-label">ZIP CODE</label>
                            <input type="tel" name="zipcode" value="{{address.shippingAddress.zipcode}}"
                                class="form-control order-form" id="zipcode" minlength="0" maxlength="6" required>
                            <div class="invalid-feedback">
                                Please enter the pincode
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-6 mb-3">
                            <label for="mobileNumber" class="form-label">MOBILE</label>
                            <input type="tel" name="mobile" value="{{address.shippingAddress.mobile}}"
                                class="form-control order-form" id="mobileNumber" minlength="10" required>
                            <div class="valid-feedback">
                                Mobile number is valid
                            </div>
                            <div class="invalid-feedback">
                                Please enter a valid 10-digit mobile number
                            </div>
                        </div>

                        {{!-- <div class="col-md-6 col-lg-6 mb-3">
                            <label for="mobileNumber" class="form-label">Address Type</label>
                            <select class="form-select order-form" name="addressType" id="validationCustom04" required>
                                <option selected disabled>Choose...</option>
                                <option value="billingAddress">Billing</option>
                                <option value="shippingAddress">Shipping</option>
                            </select>
                            <div class="valid-feedback">
                                Mobile number is valid
                            </div>
                            <div class="invalid-feedback">
                                Please enter a valid 10-digit mobile number
                            </div>
                        </div> --}}

                        <div class="d-none">
                            <input type="text" value="{{address.shippingAddress._id}}">
                        </div>

                    </div>
                    <div class="d-flex">
                        <button class="btn mx-auto" style="color: #F46F36; background-color: black;" type="submit">
                            SAVE
                        </button>
                    </div>
                </form>

                {{/if}}
            </div>
        </div>

    </div>
</div>

<script src="/javaScript/addressess.js"></script>

<script>

    const inputs = document.querySelectorAll(".order-form");

    inputs.forEach(input => {
        input.addEventListener('input', () => {
            if (input.value === " ") {
                console.log(`Hloo`)
                input.value = input.value.trim()
            }

        })
    })

</script>