<style>
  .category-img {
    width: auto;
    height: auto;
  }

  .banner-img {
    width: 100%;
    height: 280px;
  }

    @media (min-width: 1200px) {
    .responsive-banner {
      width: 95%;
      height: 350px;
      margin: 0 auto;
    }
  }

    @media (min-width: 2560px) {
    .responsive-banner {
      width: 90%;
      margin: 0 auto;
       height: 650px;
    }
  }

</style>

<div class="shadow-lg" style="background-color: rgb(15, 15, 15); padding: 5px; margin-top: -16px;">
  {{! Carousal }}
  <div class="container-fluid mt-5 text-light ">
    {{#if carousels}}
    <div class="carousal-homepage">
      {{#each carousels}}
      <a href="{{this.link}}">
        <div>
          <img src="/uploads/{{this.imageUrl}}" class="d-block banner-img responsive-banner" alt="..." />
        </div>
      </a>
      {{/each}}
    </div>
    {{else}}
    <div class="text-center">
      <a href="/user/products" class="text-decoration-none text-light">
      <img src="/picture/default-images/carousel-default.png" class="d-block banner-img responsive-banner"
        alt="Default banner" />
      <p class="mt-3">Check out our latest collections!</p>
      </a>
    </div>
    {{/if}}
  </div>
  {{! // Carousal }}
</div>



{{! Best selling products }}
<h3 class="ms-3 ms-md-5 mt-5">Best Selling Products</h3>
<div class="container mt-4">
  <div class="row d-flex">
    {{! products list }}
    {{#each topProducts}}
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 products-container">
      <a href="/user/products/{{this._id}}" style="text-decoration: none;">
        <div class="card mx-auto shadow-lg" style="width: 18rem;cursor: pointer;">
          {{#if (isOffer this.offer)}}
          <div class="offer-section px-2 text-center">
            OFFER {{this.offer}}%
          </div>
          {{/if}}
          <img style="height: 8rem; width: 10.5rem;" src="/uploads/{{this.imageUrl.[0]}}"
            class="card-img-top mt-4 mx-auto product-image pt-2" alt="..." />
          <div class="card-body rounded-3" {{#if (isStock this.quantities)}} style="background-color: #717171d1;"
            {{/if}}>
            <h6 class="card-title text-center text-black" style="height: 35px;">
              {{this.name}}
            </h6>
            <h5 class="card-text text-black">₹{{this.salePrice}}
              {{#if (isSamePrice this.salePrice this.price)}}
              <span class="px-2 text-decoration-line-through text-secondary">₹{{this.price}}</span>
              {{/if}}
            </h5>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            {{#if (isStock this.quantities)}}
            <div>
              <a href="#" class="btn mt-3 w-100"
                style="background-color: rgb(255, 43, 43); color: white; cursor: default;">SOLD OUT</a>
            </div>
            {{else}}
            <div>
              <a onclick="addToCart(`{{this._id}}`)" class="btn mt-3 w-100 shadow-sm"
                style="background-color: #F46F36; color: white;">ADD TO CART</a>
            </div>
            {{/if}}
          </div>
        </div>
      </a>
    </div>
    {{/each}}
    {{! // products list }}
  </div>
  {{#if topProducts}}
  <div class="d-flex">
    <a class="btn mt-5 mx-auto px-4 rounded-3" style="background-color: #F46F36;" href="/user/products">
      More
    </a>
  </div>
  {{/if}}
</div>

{{#if categories}}
{{! categories }}
<div class="container mt-4 rounded-3" style="background-color: rgb(241, 241, 241);">
  <h5 class="py-4">Try Some Workout plans ?</h5>
  <div class="row">
    {{#each categories}}
    <div class="col-12 col-md-6 mb-3 categories category-images">
      <a href="/user-categories/{{this.name}}" style="text-decoration: none;">
        <h2 class="card-title categories-title px-2 rounded-3">
          {{this.name}} </h2>
        <div class="card shadow mt-1 " style="background-color: transparent;">
          <img src="/uploads/{{this.image}}" style="height: 300px;" class="card-img category-img"
            alt="category-image" />
          {{!-- <div class="card-img-overlay">
          </div> --}}
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</div>
{{! // Categories }}
{{else}}
<div style="text-align: center; margin-top: 50px;">
  <h2>Oops! No categories yet!</h2>
  <p>Our categories are still under construction 🚧. Stay tuned for something amazing!</p>
</div>
{{/if}}

{{#if errMessage}}
<input type="text" class="d-none" value="{{errMessage}}" id="error-message">
{{/if}}


<script>

  const categories = document.querySelectorAll('.category-images')

  categories.forEach(category => {
    // Mouse Enter
    category.addEventListener('mouseenter', () => {
      category.style.transition = 'transform 0.5s ease';
      category.style.transform = 'translate(-5px, -5px)';
    })

    // Mouse Leave
    category.addEventListener('mouseleave', () => {
      category.style.transition = 'transform 0.5s ease';
      category.style.transform = 'translate(0px, 0px)';
    });
  })

  // Add To Cart
  function addToCart(productID) {
    let count = 1
    console.log(`Clicked`)
    $.ajax({
      url: `/cart/add-product`,
      method: 'PUT',
      data: {
        productID,
        count
      },
      success: response => {
        if (response.status) {
          Swal.fire(response.message)
        } else {
          Swal.fire(response.message).then(() => window.location.href = response.redirected)
        }
      }
    })
  }

  const errorMessage = document.querySelector('#error-message')

  if (errorMessage) {
    Swal.fire(errorMessage.value)
  }

</script>