<style>
  .category-img {
    width: auto;
    height: auto;
  }
</style>

{{!-- <div style="background-color: black; padding: 45px;"> --}}

{{! Carousal }}
<div class="container mt-5 pt-4">
  <div id="carouselExampleCaptions" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="border: 2px solid rgb(255, 255, 255); width: 100%; height: 350px;">
        <img src="/picture/category/Foods-to-gain-weight.jpg" class="d-block banner-img" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" style="border: 2px solid rgb(255, 255, 255); width: 100%; height: 350px;">
        <img src="/picture/category/Weight loss.jpg" class="d-block banner-img" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item" style="border: 2px solid rgb(255, 255, 255); width: 100%; height: 350px;">
        <img src="/picture/category/health and wellness.jpg" class="d-block banner-img" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{{! // Carousal }}

{{!-- </div> --}}

{{! Trending products }}
<h3 class="ms-3 ms-md-5 mt-5">Trending</h3>

<div class="container mt-4">
  <div class="row d-flex">
    {{! products list }}
    {{#each trendingProduct}}
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 products-container">
      <a href="/product/{{this._id}}" style="text-decoration: none;">
        <div class="card mx-auto shadow-lg" style="width: 18rem;cursor: pointer;">
          {{#if (isOffer this.offer)}}
          <div class="offer-section px-2 text-center">
            OFFER {{this.offer}}%
          </div>
          {{/if}}
          <img style="height: 8rem; width: 10.5rem;" src="/uploads/{{this.imageUrl.[0]}}"
            class="card-img-top mt-4 mx-auto product-image pt-2" alt="..." />
          <div class="card-body rounded-3" {{#if (isStock this.quantities)}} style="background-color: #717171d1;"
            {{/if}}>
            <h6 class="card-title text-center text-black" style="height: 35px;">
              {{this.name}}
            </h6>
            <h5 class="card-text text-black">₹{{this.salePrice}}
              <span class="px-2 text-decoration-line-through text-secondary">₹{{this.price}}</span>
            </h5>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            {{#if (isStock this.quantities)}}
            <div>
              <a href="#" class="btn mt-3" style="background-color: rgb(255, 43, 43); color: white;">SOLD OUT</a>
            </div>
            {{else}}
            <div>
              <a onclick="addToCart(`{{this._id}}`)" {{!-- href="/product/add-to-cart/{{this._id}}" --}}
                class="btn mt-3" style="background-color: #F46F36; color: white;">ADD TO CART</a>
            </div>
            {{/if}}
          </div>
        </div>
      </a>
    </div>
    {{/each}}
    {{! // products list }}
  </div>
  <div class="d-flex">
    <a class="btn mt-5 mx-auto px-4 rounded-3" style="background-color: #F46F36;" href="">
      More
    </a>
  </div>
</div>
{{! // Trending products }}

{{! Best Selling products }}
<h3 class="ms-3 ms-md-5 mt-5">Best Selling</h3>

<div class="container mt-4">
  <div class="row d-flex">
    {{! products list }}
    {{#each bestSelling}}
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 products-container">
      <a href="/product/{{this._id}}" style="text-decoration: none;">
        <div class="card mx-auto shadow-lg" style="width: 18rem;cursor: pointer;">
          {{#if (isOffer this.offer)}}
          <div class="offer-section px-2 text-center">
            OFFER {{this.offer}}%
          </div>
          {{/if}}
          <img style="height: 8rem; width: 10.5rem;" src="/uploads/{{this.imageUrl.[0]}}"
            class="card-img-top mt-4 mx-auto product-image pt-2" alt="..." />
          <div class="card-body rounded-3">
            <h6 class="card-title text-center text-black" style="height: 35px;">
              {{this.name}}
            </h6>
            <h5 class="card-text text-black">₹{{this.salePrice}}
              <span class="px-2 text-decoration-line-through text-secondary">₹{{this.price}}</span>
            </h5>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <div>
              <a onclick="addToCart(`{{this._id}}`)"
               class="btn mt-3" style="background-color: #F46F36; color: white;">ADD TO CART</a>
            </div>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
    {{! // products list }}

  </div>
  <div class="d-flex">
    <a class="btn mt-5 mx-auto px-4 rounded-3" style="background-color: #F46F36;" href="">
      More
    </a>
  </div>
</div>
{{! // Best Selling products }}


{{! categories }}
<div class="container mt-4 rounded-3" style="background-color: rgb(241, 241, 241);">
  <h5 class="py-4">Try Some Workout plans ?</h5>
  <div class="row">
    {{#each categories}}
    <div class="col-12 col-md-6 mb-3 categories category-images">
      <a href="/user-categories/{{this.name}}" style="text-decoration: none;">
        <h2 class="card-title categories-title px-2 rounded-3">
          {{this.name}} </h2>
        <div class="card shadow mt-1 " style="background-color: transparent;">
          <img src="/uploads/{{this.image}}" style="height: 300px;" class="card-img category-img"
            alt="category-image" />
          {{!-- <div class="card-img-overlay">
          </div> --}}
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</div>
{{! // Categories }}


<script>

  const categories = document.querySelectorAll('.category-images')

  categories.forEach(category => {
    // Mouse Enter
    category.addEventListener('mouseenter', () => {
      category.style.transition = 'transform 0.5s ease';
      category.style.transform = 'translate(-5px, -5px)';
    })

    // Mouse Leave
    category.addEventListener('mouseleave', () => {
      category.style.transition = 'transform 0.5s ease';
      category.style.transform = 'translate(0px, 0px)';
    });
  })

  // Add To Cart
  function addToCart(productID) {
    let count = 1
    console.log(`Clicked`)
    $.ajax({
      url: `/product/add-to-cart`,
      method: 'PUT',
      data: {
        productID,
        count
      },
      success: response => {
        if (response.status) {
          Swal.fire(response.message)
        } else {
          Swal.fire(response.message).then(() => window.location.href = response.redirected)
        }
      }
    })
  }

</script>