<style>
    .invalid-feedback {
        display: none;
    }

    #confirmPassword,
    #newPassword {
        position: relative;
        top: -15%;
    }

    .new-password-msg,
    .confirm-password-msg {
        margin-top: -10px;
    }

    /* Default state */
    .pagination li a {
        color: black;
    }

    /* Hovered state */
    .pagination li a:hover {
        color: #F46F36;
    }

    /* Active state */
    .pagination li a.active {
        color: #F46F36;
        background-color: #f4f0ec;
        border-color: #c9c9c9;
    }

    .form-control.is-valid,
    .was-validated .form-control:valid {
        background-image: none;
    }

    .form-control:focus {
        border-color: #dcdcdc;
        box-shadow: none;
        background-color: #f8f9fa;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-3 mt-5">
            {{> dashboard}}
        </div>

        <div class="col-md-9 mt-5">
            {{!-- Wallet Money Crediting --}}
            <div class="shadow rounded-2" style="border: 3px solid #f6f6f6;">
                <div class="d-flex flex-wrap p-3  justify-content-between align-items-center">

                    <!-- Wallet total Amount -->
                    <div class="d-flex align-items-center mb-3 mb-md-0">
                        <!-- Wallet icon -->
                        <div>
                            <i class="fa-solid fa-wallet" style="font-size: 3.5rem;"></i>
                        </div>
                        <!-- Wallet Amount -->
                        <div class="px-3 mt-2">
                            <h3>₹ <span id="wallet-balance">{{totalBalance}}</span> </h3>
                            <p style="color: grey; font-size: .8rem;">My Wallet Balance</p>
                        </div>
                    </div>

                    <!-- Money Crediting and Add Button -->
                    <form class="needs-validation w-100 w-md-auto" novalidate>
                        <div class="d-md-flex">
                            <!-- Amount Crediting -->
                            <div class="input-group me-3 w-100 w-md-auto">
                                <input type="number" id="topUpAmount" class="form-control" name="amount" min="1"
                                    required>
                                <div class="invalid-feedback">
                                    Please Enter a Amount more than 0
                                </div>
                            </div>
                            <!-- Add Money Btn -->
                            <div class="mt-2 mt-md-0 d-flex">
                                <button id="addCashToWallet" type="submit"
                                    class="btn btn-dark ms-auto px-5">ADD</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
            {{!-- // Wallet Money Crediting --}}

            <div class="mt-3 shadow-sm rounded-2">
                <div class="table-responsive">
                    <table class="table table-borderless ">
                        <h6 class="p-2 px-3 mt-1 text-uppercase">Transaction Details</h6>
                        <thead class="table-dark">
                            <tr>
                                <th scope="col" class="px-4">TRANSACTION ID</th>
                                <th scope="col">DESCRIPTION</th>
                                <th scope="col">DATE</th>
                                <th scope="col">DEPOSIT</th>
                                <th scope="col">STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#if walletTransactions}}
                            {{#each walletTransactions}}
                            {{#if (isCreditedOrNot this.transactionType)}}
                            <tr class="table-danger">
                                {{else}}
                                {{#if (isFailed this.status)}}
                            <tr class="table-warning">
                                {{else}}
                            <tr>
                                {{/if}}
                                {{/if}}
                                <th scope="row" class="px-4"> {{this.transactionID}} </th>
                                <td> {{this.description}} </td>
                                <td> {{this.createdAt}} </td>
                                <td>
                                    {{#if (isCreditedOrNot this.transactionType)}}
                                    <span class="text-danger">-</span>
                                    {{else}}
                                    <span></span>
                                    {{/if}}
                                    ₹ <span> {{this.amount}} </span>
                                </td>
                                <td style="color: {{this.statusColor}};"> {{this.status}} </td>
                            </tr>
                            {{/each}}
                            {{else}}
                            <tr>
                                <td>No Transaction History</td>
                            </tr>
                            {{/if}}

                        </tbody>
                    </table>



                </div>
            </div>

            <nav aria-label="Page navigation example" class="mt-3">
                <ul class="pagination wallet-pagination justify-content-center">
                    {{#if pagination.isPrevious}}
                    <li class="page-item">
                        <a class="page-link" style="background-color: #F46F36;" href="#"><i
                                class="fa-solid fa-arrow-left"></i></a>
                    </li>
                    {{/if}}

                    {{#each (paginationNumbers 1 pagination.totalPages)}}
                    <li class="page-item"><a class="page-link" style="background-color: #000000; color: #F46F36;"
                            href='/dashboard/wallet?page={{this}}'>{{this}}</a></li>
                    {{/each }}

                    {{#if pagination.isNext}}
                    <li class="page-item">
                        <a class="page-link" style="background-color: #F46F36;"
                            href="/dashboard/wallet?page={{paginationManipulation pagination.currentPage 1}}"><i
                                class="fa-solid fa-arrow-right"></i></a>
                    </li>
                    {{/if}}
                </ul>
            </nav>

        </div>
    </div>
</div>


<script src="/javaScript/wallet.js"></script>


<script>

    $(document).ready(function () {
        $('.wallet-pagination').on('click', 'a', function (e) {
            e.preventDefault()
            let page = $(this).attr('href').split('=')[1]
            $.ajax({
                url: `/user/dashboard/wallet/page`,
                method: 'GET',
                data: { page: page },
                success: response => {
                    if (response.status) {
                        const pagination = response.pagination
                        const walletTransactions = response.walletTransactions
                        console.log(response.walletTransactions)
                        let transactionsHtml = ''
                        let paginationHtml = ''
                        walletTransactions.forEach(transaction => {
                            if (transaction) {
                                transactionsHtml += `
                                ${transaction.transactionType === 'debit'
                                        ? `<tr class="table-danger">`
                                        : (transaction.status == 'Failed'
                                            ? `<tr class="table-warning">`
                                            : `<tr>`)}
                                    <th scope="row" class="px-4"> ${transaction.transactionID} </th>
                                    <td> ${transaction.description} </td>
                                    <td> ${transaction.createdAt} </td>
                                    <td> 
                                        ${transaction.transactionType === 'debit'
                                        ? `<span class="text-danger" style="font-weight: bold;">-</span>`
                                        : ``}
                                         <span> ${transaction.amount} </span>
                                    </td>
                                    <td style="color: ${transaction.statusColor};"> ${transaction.status} </td>
                                </tr>
                                `
                            } else {
                                transactionsHtml += `
                                 <tr>
                                    <td>No Transaction History</td>
                                </tr>
                                `
                            }
                        })

                        document.querySelector('tbody').innerHTML = transactionsHtml

                        if (pagination) {

                            if (pagination.isPrevious) {
                                paginationHtml += `
                                    <li class="page-item">
                                        <a class="page-link" style="background-color: #F46F36;" 
                                        href="/user/dashboard/wallet/page?page=${pagination.currentPage - 1}">
                                        <i class="fa-solid fa-arrow-left"></i></a>
                                    </li>
                                `
                            }


                            for (let i = 1; i <= pagination.totalPages; i++) {
                                paginationHtml += `
                                <li class="page-item"><a class="page-link" 
                                style="background-color: #000000; color: #F46F36;" 
                                href="/user/dashboard/wallet/page?page=${i}">
                                ${i}
                                </a></li>
                                `
                            }

                            if (pagination.isNext) {
                                paginationHtml += `
                                    <li class="page-item">
                                        <a class="page-link" style="background-color: #F46F36;"
                                        href="/user/dashboard/wallet/page?page=${pagination.currentPage + 1}"><i
                                        class="fa-solid fa-arrow-right"></i></a>
                                    </li>
                                `
                            }
                        }

                        document.querySelector('.pagination').innerHTML = paginationHtml

                    } else {
                        window.location.href = response.redirected
                    }
                }
            })
        })
    })

</script>