<style>
    .form-control:focus,
    .form-select:focus {
        border-color: #c1c1c1;
        box-shadow: none;
        background-color: #f8f9fa;
    }


    option:hover {
        cursor: pointer;
    }

    .options {
        background-color: #000000;
        color: #F46F36;
    }
</style>

<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb" class="mt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a style="text-decoration: none; color: black;" href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cart</li>
            </ol>
        </nav>
        <h4>Your Cart</h4>
        <div class="col-md-7 col-lg-8 mt-3">
            {{#if cart}}
            <form action="/order-pre-checkout" method="post">
                {{!-- Cart Products --}}
                <div class="border border-2 border-light rounded p-3">
                    <input type="text" class="d-none" name="cartID" value="{{cart._id}}">
                    {{#each userCart}}
                    <div class="card mb-3 shadow" style="border: none;">
                        <div class="row g-0 ">
                            <div class="col-md-3">
                                <img src="/uploads/{{this.image}}" style="height: 8.5rem; width: 10.5rem;"
                                    class="img-fluid rounded-start ms-3 ms-lg-4 mt-3" alt="cart-product-image">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title">
                                            <span>{{this.productName}}</span>
                                        </h5>
                                        <a
                                            onclick="deleteCartProduct(`{{this._id}}`, `{{this.productID}}`, `{{this.productName}}`)"><i
                                                style="color: red;" class="fa-solid fa-trash"></i></a>
                                    </div>
                                    <p class="card-text lh-sm">Size:
                                        <span>
                                            {{this.size}}
                                        </span>
                                    </p>
                                    <p class="card-text lh-1">Flavour:
                                        <span>
                                            {{this.flavour}}
                                        </span>
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <h5 class="">₹ {{this.salePrice}}</h5>
                                        <div style=" color: #F46F36; cursor: pointer;"
                                            class="shadow-lg py-1 rounded-2 p-2 bg-dark">
                                            <i onclick="manageCartProductQuantity(`{{this.quantity}}`, 1, `{{this.productID}}`, `{{this._id}}`)"
                                                class="fa-solid fa-plus px-2">
                                            </i>
                                            <span class="px-3 quantity-count">{{this.quantity}}</span>
                                            <i onclick="manageCartProductQuantity(`{{this.quantity}}`, -1, `{{this.productID}}`, `{{this._id}}`)"
                                                class="fa-solid fa-minus px-1">
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{else}}
                <div class="rounded rounded-4 bg-secondary mx-auto" style="width: 10px; height: 10px;"></div>
                <div class="rounded rounded-4 bg-secondary mx-auto left-cart-line" style="width: 3.2px; height: 50px;">
                </div>
                <h2 class="text-secondary w-25  border rounded-3 border-2 border-dark p-2 px-3 mx-auto">Cart is Empty
                </h2>
                {{/if}}
        </div>

        {{!-- Cart Order Summary --}}
        <div class=" col-md-5 col-lg-4">
            <div class="shadow-lg">
                <div class="py-3 px-3">
                    <h6 class="bg-dark text-light p-2" style="font-size: 1em;">Order Summary
                    </h6>
                    <div class="d-flex">
                        <h6 class="text-secondary" style="margin-top: 1.5em;">Subtotal</h6>
                        <h6 class="ms-auto" style="margin-top: 1.5em;">
                            ₹
                            <span class="originalPrice">
                                {{originalPrice}}
                            </span>
                        </h6>
                    </div>
                    <div class="d-flex">
                        <h6 class="text-secondary py-2 ">
                            Discount(
                            <span class="discount-percentage text-success">{{discountPercentage}}</span>%)
                        </h6>
                        <h6 class="text-danger ms-auto py-2">
                            ₹
                            <span class="discount-price">
                                {{discountPrice}}
                            </span>
                        </h6>
                    </div>
                    <div class="coupons-price-details">
                    {{#if coupons}}
                    <div class="d-flex">
                        <h6 class="text-secondary py-2 ">
                            Coupon(
                            <span class="coupon-percentage">{{couponDiscountPercentage}}</span>%)
                        </h6>
                        <h6 class="text-danger ms-auto py-2">
                            ₹
                            <span class="coupon-discount-price">
                                {{couponDiscountPrice}}
                            </span>
                        </h6>
                    </div>
                    {{/if}}

                    </div>
                    <div class="d-flex">
                        <h6 class="text-secondary">Delivery Fee</h6>
                        <h6 class="ms-auto">₹ <span class="delivery-charge">{{deliveryCharge}}</span></h6>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <h6>Total</h6>
                        <h6 class="ms-auto">
                            ₹
                            <span class="total-price">
                                {{totalPrice}}
                            </span>
                        </h6>
                    </div>
                </div>
                {{!-- Enter coupon--}}
                <div class="d-flex justify-content-center">
                    <div class="input-group w-75">
                        <input type="text" style="background-color: rgba(231, 231, 231, 0.806);"
                            placeholder="Add coupon code" class="form-control me-1 offer-input" id="validationCustom01">
                    </div>
                    <div>
                        <div class="btn rounded-2" onclick="applyCoupon()" style="background-color:#F46F36;">Apply</div>
                    </div>
                </div>

                {{!-- Show Coupon invalid message --}}
                <p class="coupon-msg text-danger ms-2 ms-md-3 ms-xl-4 mt-1">

                </p>

                {{!-- Applied Coupons --}}
                <div class="applied-coupons">

                {{#if coupons}}
                    {{#each coupons}}
                    <div class="border border-2 mb-2 d-inline-flex rounded mx-3" style="background-color: #ffffff;">
                        <i class="fa-solid fa-tag mt-2 ms-2"></i>
                        <h6 class="mt-1 px-1">{{this.existingCoupon.code}}</h6>
                        <i style="font-size: 1.2rem;" onclick="removeCoupon(`{{this.coupon.cartID}}`, `{{this.existingCoupon.code}}`, this.parentElement)" class="fa-solid fa-xmark ms-auto me-3 mt-1"></i>
                    </div>
                    {{/each}}
                {{/if}}

                </div>


                {{!-- Available Coupon --}}
                <div class="px-4 mt-3">
                    <select class="form-select offer" aria-label="Default select example">
                        <option class="options" value="2 Offers available" selected>Offers available</option>
                        {{#if offers}}
                        {{#each offers}}
                        <option class="options" value="{{this.code}}">{{this.code}}({{this.description}})</option>
                        {{/each}}
                        {{/if}}
                    </select>

                </div>

                <div class="p-3 mt-3">
                    <button type="submit" class="btn d-flex w-100 bg-dark text-light">Go To Checkout
                        <div class="ms-auto">
                            <i class="fa-solid fa-right-long justify-content-between"></i>
                        </div>
                    </button>

                </div>
            </div>
        </div>

        </form>

        {{#if loginErr}}
        <div class="err-message d-none">{{loginErr}}</div>
        {{/if}}
    </div>
</div>

<script src="/javaScript/userCart.js"></script>

<script>

    // Delete Cart Item animation
    const deleteIcons = document.querySelectorAll('.fa-trash')
    deleteIcons.forEach(deleteIcon => {
        deleteIcon.addEventListener('mouseover', () => {
            deleteIcon.style.transform = "scale(1.2,1.3)"
        })
        deleteIcon.addEventListener('mouseout', () => {
            deleteIcon.style.transform = "scale(1,1)"
        })
    })

    // Showing If an Error occurs
    const errMessage = document.querySelector('.err-message')
    console.log(errMessage)
    if (errMessage) {
        Swal.fire(errMessage.innerHTML)
    }


</script>
