<style>
    .table-responsive {
        cursor: pointer;
    }

    .table-responsive::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .table-responsive::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .table-responsive::-webkit-scrollbar-thumb {
        background-color: #7e7e7e;
        border-radius: 2px;
    }

    .table-responsive::-webkit-scrollbar-thumb:hover {
        background-color: #000;
    }

    .tabs {
        display: flex;
        cursor: pointer;
    }

    .tab-button {
        background-color: #777;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        font-size: 16px;
        flex: 1;
        transition: background-color 0.3s;
    }

    .tab-button.active,
    .tab-button:hover {
        background-color: #555;
    }

    .tab-content {
        display: none;
        padding: 20px;
        border: 1px solid #ddd;
        border-top: none;
    }

    .tab-content.active {
        display: block;
    }

    .wishlist {
        cursor: pointer;
    }

    @keyframes glowup {
        0% {
            transform: scale(1)
        }

        50% {
            transform: scale(1.2)
        }

        100% {
            transform: scale(1)
        }
    }

    .wishlist {
        transition: color 0.3s ease, transform 0.3s ease;
    }

    .wishlist.animating {
        animation: glowup 0.5s ease;
    }

    /*    .custom-toast {
        color: black;
        border: 2px ridge white;
    }
*/
</style>

<div class="container">
    {{!-- Product --}}
    {{!-- <div class="single-product"> --}}
        {{!-- pages breadcrump --}}
        <nav aria-label="breadcrumb" class="mt-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a style="color: #F46F36" href="/">Home</a></li>
                <li class="breadcrumb-item"><a style="color: #F46F36"
                        href="/user-categories/{{product.categoryName}}">{{product.categoryName}}</a></li>
                <li class="breadcrumb-item"><a style="color: grey; text-decoration: none;" href="#">{{product.name}}</a>
                </li>
            </ol>
        </nav>
        {{!-- // pages breadcrump --}}
        <div class="row g-4 mt-3">
            <div class="col-12 p-3 col-md-2 d-flex d-md-block table-responsive mx-md-4 mx-lg-0" style="gap:10px;">
                {{#if product}}
                <input type="text" class="d-none productID" value="{{product._id}}">
                {{!-- Other pics for the products --}}
                {{#each product.imageUrl}}
                <img src="/uploads/{{this}}" class="img-thumbnail mb-2 images"
                    style="height: 120px; width: 120px; border-color: #5653539f;" id="product-image-{{@index}}"
                    alt="Images">
                {{/each }}
                {{!-- // Other pics for the products --}}
            </div>

            <div class="col-md-7 col-lg-5 p-1 mt-3 ">
                <form action="">
                    <div class="d-flex rounded-1 border border-2 shadow-lg" id="imageZoom"
                        style="background-color: rgba(255, 254, 254, 0.461);">

                        <div class="image-zoom-container">
                            <img class="img-fluid mx-auto main-image rounded-3 p-2" id="zoom_01"
                                src="/uploads/{{product.imageUrl.[0]}}" alt="main-image">
                        </div>
                    </div>


                    {{#if (isStock product.quantities)}}
                    <div class="mt-3 d-flex ">
                        {{!-- stock out --}}
                        <div class="mx-auto ">
                            <div class="py-1">
                                <div>
                                    {{#if (isStock product.quantities)}}
                                    <h2 class="fw-bold">
                                        Sold Out
                                    </h2>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="px-1 mt-2">
                                <a class="btn" style="background-color: #F46F36; color: #f1f1f1;" href="">
                                    Notify Me
                                </a>
                            </div>

                        </div>
                        {{!-- stock out --}}
                    </div>
                    {{else}}
                    <div class="mt-3 d-flex ">
                        {{!-- add to cart btn --}}
                        <div class="mx-auto">
                            <div class="border border-dark-subtle py-1 rounded-3" style="cursor: pointer;">
                                <i onclick="manageProductCount(`1`)" class="fa-solid fa-plus px-2">
                                </i>
                                <span class="px-3 product-count"></span>
                                <i onclick="manageProductCount(`-1`)" class="fa-solid fa-minus px-1">
                                </i>
                            </div>
                            <div class="px-1 mt-2">
                                <a onclick="addToCart(`{{product._id}}`)" class="btn"
                                    style="background-color: #F46F36;">
                                    Add to Cart
                                </a>
                            </div>

                        </div>
                        {{!-- add to cart btn --}}
                    </div>
                    {{/if}}
            </div>

            <div class="col-12 col-sm-8 col-md-12 col-lg-5 p-3">
                <h3>
                    {{product.name}}
                </h3>
                <div class="mt-3 d-flex">
                    <div class="ms-auto" id="rating-star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>
                    <h5 class="px-2">
                        <span>{{product.rating}}</span>/5
                    </h5>
                </div>


                <div>
                    <h3>₹{{product.salePrice}}
                        {{#if (isSamePrice product.salePrice product.price)}}
                        <span class="px-2" style="color: grey; text-decoration: line-through;">
                            ₹{{product.price}}
                        </span>
                        {{/if}}
                        {{#if (isStock product.quantities)}}
                        {{!-- Sold Out --}}
                        {{else}}
                    </h3 {{#if (stockWarning product.quantities )}} <h5>Only {{product.quantities}} stocks left</h5>
                    {{/if}}
                    {{/if}}
                </div>

                <hr>
                <div class="d-flex">
                    <p>Country of Orgin: {{product.origin}}</p>
                    <p class="ms-auto">Best Before:{{product.bestBefore}}</p>
                </div>

                <div>Flavour</div>
                <div class="d-flex">
                    <div>
                        <select class="form-select " aria-label="Default select example">
                            {{#each similarProducts}}
                            <option value="{{this.flavour}}">{{this.flavour}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="ms-4 py-1">
                        <i class="fs-2 fa-heart wishlist" style=""></i>
                        <input type="text" id="isWishlisted" value="{{isWishlisted}}" class="d-none">
                    </div>
                </div>

                <hr>
                <div>Size</div>
                <div class="mt-2">
                    {{#each similarProducts}}
                    <input type="radio" class="btn-check size-check" name="{{this.size}}" id="size-{{@index}}"
                        autocomplete="off">
                    <label class="btn btn-outline-dark" for="size-{{@index}}">{{this.size}}</label>
                    {{/each}}

                    {{!-- <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-dark" for="btnradio3">Radio 3</label> --}}

                </div>

                <hr>

                <div class="d-flex">
                    <p class="fw-bold text-secondary">Highlights</p>
                    <ul class="px-5 highlights">
                        {{#each product.highlights}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>

                </form>
                {{/if}}
            </div>

        </div>
        {{!--
    </div> --}}
    {{!-- // Product --}}

    {{!-- product details & reviews --}}
    <div class="product-review mt-4">
        <div class="tab-container">
            <div class="tabs">
                <button class="tab-button active" onclick="openTab('tab1')">Products Details</button>
                <button class="tab-button" onclick="openTab('tab2')">Rating & Reviews</button>
                <button class="tab-button" onclick="openTab('tab3')">FAQ</button>
            </div>

            <div id="tab1" class="tab-content active">
                <h5>Description</h5>
                <p class="ms-3">{{product.description}}</p>

            </div>
            <div id="tab2" class="tab-content">
                <div class="d-flex mt-3">
                    <h5>All Review</h5>
                    <div class="ms-auto">
                        {{#if productReviews}}
                        <div class="btn" style="background-color: #c5c4c4;">Latest
                            <i class="fa-solid fa-caret-down"></i>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <div class="row mt-4">
                    {{#if productReviews}}
                    {{#each productReviews.feedbacks}}
                    <div class="col-12 col-md-6">
                        <div class="card  mb-3">
                            <div class="card-body p-4">
                                <h5 class="card-title"></h5>
                                <p class="card-text"></p> <span class="fa fa-star checked">({{this.productRating}})</span>
                                <p class="card-text text-secondary" style="font-size: .7rem;">
                                 {{this.productFeedback}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <h4 class="text-center">No Reviews for the Product</h4>
                    {{/if}}

                </div>
            </div>
            <div id="tab3" class="tab-content">
                <p>This is the content for Tab 3.</p>
            </div>
        </div>


    </div>
    {{!-- // product details & reviews --}}



    {{!-- Related Products --}}
    <div class="mt-5">
        <h2>Related Products</h2>
        <div class="row">
            {{#each realtedProducts}}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 products-container">
                <a href="/product/{{this._id}}" style="text-decoration: none;">
                    <div class="card mx-auto shadow-lg" style="width: 18rem;cursor: pointer;">
                        <div class="offer-section px-2 text-center">
                            OFFER {{this.offer}}%
                        </div>
                        <img style="height: 8rem; width: 10.5rem;" src="/uploads/{{this.imageUrl.[0]}}"
                            class="card-img-top mt-4 mx-auto product-image pt-2" alt="..." />
                        <div class="card-body rounded-3">
                            <h6 class="card-title text-center text-black">
                                {{this.name}}
                            </h6>
                            <h5 class="card-text text-black">₹{{this.salePrice}}
                                {{#if (isSamePrice this.salePrice this.price)}}
                                <span class="px-2 text-decoration-line-through text-secondary">₹{{this.price}}</span>
                                {{/if}}
                            </h5>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <div>
                                <a href="#" class="btn mt-3" style="background-color: #F46F36; color: white;">ADD TO
                                    CART</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
    {{!-- // Related Products --}}
</div>

<!-- Modal -->

</div>
<!-- // Modal -->

<script src="/javaScript/reviewProduct.js"></script>

<script>

    const reviewStar = document.querySelector('.review-star')
    const productContainer = document.querySelector('.user-product-main')

    // Size selection
    const sizeCheck = document.querySelectorAll('.size-check')
    sizeCheck.forEach(size => {
        size.addEventListener('click', (e) => {
            if (e.target) {

                console.log(e.target.name)

            }

            console.log(`Clicked`)
        })
    })

    // Image selection
    const images = document.querySelectorAll('.images')
    const mainImage = document.querySelector('.main-image')
    images.forEach((img, index) => {
        img.addEventListener('click', (e) => {
            mainImage.src = e.target.src
        })
    })

    images.forEach((img, index) => {
        img.addEventListener('mouseover', () => {
            img.style.transform = `scale(1.1)`
            img.style.transition = `transform 0.1s ease-in-out`;
        })
        img.addEventListener('mouseleave', () => {
            img.style.transform = 'scale(1, 1)'
        })
    })

    // Manage Product Count
    const productCount = document.querySelector('.product-count')
    productCount.innerHTML = 1

    function manageProductCount(count) {
        count = Number(count)
        let value = Number(productCount.innerHTML)
        if (productCount.innerHTML <= 1 && count == -1) {
        } else {
            productCount.innerHTML = value + count
        }
    }

    // Add To Cart
    function addToCart(productID) {
        let count = Number(productCount.innerHTML)
        $.ajax({
            url: `/cart/add-product`,
            method: 'PUT',
            data: {
                productID,
                count
            },
            success: response => {
                if (response.status) {
                    Swal.fire(response.message).then(() => productCount.innerHTML = 1)
                } else {
                    Swal.fire(response.message).then(() => window.location.href = response.redirected)
                }
            }
        })

    }

    function openTab(tabId) {
        // Get all tab content and buttons
        var tabContents = document.getElementsByClassName("tab-content");
        var tabButtons = document.getElementsByClassName("tab-button");

        // Hide all tab content and remove active class from all buttons
        for (var i = 0; i < tabContents.length; i++) {
            tabContents[i].classList.remove("active");
            tabButtons[i].classList.remove("active");
        }

        // Show the clicked tab content and add active class to the clicked button
        document.getElementById(tabId).classList.add("active");
        document.querySelector(`.tab-button[onclick="openTab('${tabId}')"]`).classList.add("active");
    }


    // Wishlist
    const wishlist = document.querySelector('.wishlist')
    let isWishlisted = document.querySelector('#isWishlisted').value === 'true'
    const productID = document.querySelector('.productID').value

    async function getwishlist() {
        try {
            const response = await fetch(`/user/products/wishlist/${productID}`, {
                method: 'PATCH'
            })
            const data = await response.json()
            const { status, isFavourate, message } = data
            //    console.log(data)

            if (!status) {
                Swal.fire(
                    {
                        text: message,
                        icon: 'warning'
                    }
                ).then(() => window.location.href = data.redirected)
                return data
            }



            if (!isFavourate) {
                Toastify({
                    text: message,
                    duration: 3000,
                    close: true,
                    gravity: "bottom",
                    position: "right",
                    style: {
                        background: "linear-gradient(to right, #F46F36, #F36F8F)"
                    }
                }).showToast();


                return data;
            }

            Toastify({
                text: message,
                duration: 3000,
                close: true,
                gravity: "bottom",
                position: "right",
                style: {
                    background: "linear-gradient(to right, #F46F36, #F36F8F)"
                }
                //    className: "custom-toast"
            }).showToast();

            return data
        } catch (error) {
            console.error(`Error while fetching wishlist ...`)
            return null
        }
    }


    // Update wishlist Btn (Heart Icon)
    function updateWishlistBtn(favourated) {
        console.log(`Favourated status: ${favourated}`)
        if (favourated) {
            wishlist.classList.add('fa-solid')
            wishlist.classList.remove('fa-regular')
            wishlist.style.color = "red"
            wishlist.style.transform = "scale(1)"
            wishlist.classList.add('animating')
        }
        else {
            wishlist.classList.add('fa-regular')
            wishlist.classList.remove('fa-solid')
            wishlist.style.color = "black"
            wishlist.style.transform = "scale(.9)"
            wishlist.classList.remove('animating')
        }
    }

    wishlist.addEventListener('click', async () => {
        let { status, isFavourate } = await getwishlist()

        if (status) {
            updateWishlistBtn(isFavourate)
        }
    })

    // Initialize the wishlist Btn (whether its favourate or not) 
    function wishlistBtninitailse() {
        console.log(`isWishlisted ${isWishlisted}`)
        updateWishlistBtn(isWishlisted)

    }


    window.addEventListener('DOMContentLoaded', () => {
        wishlistBtninitailse()
    })


</script>