<div class="container">
    <div class="row">
        <div class="col-md-3 mt-5">
            {{> productFilters}}
        </div>

        <div class="col-md-9 mt-3">
                <div class="d-flex me-2 me-md-5">
                    <h6 class="ms-auto px-2 py-1">Sort</h6>
                    <select class="search-sort"
                        style="border-radius: 10px; color: rgb(17, 17, 17) ;padding-left: 5px; border: 2px solid black;"
                        aria-label="Default select example">
                        <option selected value="no-filter" style="color: grey;" > No Filter </option>
                        <option value="lowToHigh">Low to High</option>
                        <option value="highToLow">High to Low</option>
                        <option value="ascending">Ascending</option>
                        <option value="descending">Descending</option>
                        <option value="averageRating">Average Rating</option>
                        <option value="newArrivals">New Arrivals</option>
                    </select>
                </div>
            <div class="row" id="all-products-container">
                {{#each products}}
                <div id="products" class="col-12 mt-3 col-md-6 col-xxl-4">
                    <div class=" mt-3 products-container">
                        <a href="/product/{{this._id}}" style="text-decoration: none;">
                            <div class="card mx-auto shadow-lg" style="width: 16rem;cursor: pointer;">
                                <div class="offer-section px-2 text-center">
                                    OFFER {{this.offer}}%
                                </div>
                                <img style="height: 8rem; width: 10.5rem;" src="/uploads/{{this.imageUrl.[0]}}"
                                    class="card-img-top mt-4 mx-auto product-image pt-2" alt="..." />
                                <div class="card-body rounded-3" {{#if (isStock this.quantities)}}
                                    style="background-color: #717171d1;" {{/if}}>
                                    <h6 class="card-title text-center text-black">
                                        {{this.name}}
                                    </h6>
                                    <h5 class="card-text text-black">₹{{this.salePrice}}
                                        <span
                                            class="px-2 text-decoration-line-through text-secondary">₹{{this.price}}</span>
                                    </h5>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    {{#if (isStock this.quantities)}}
                                    <div>
                                        <a href="#" class="btn mt-3"
                                            style="background-color: rgb(255, 43, 43); color: white;">SOLD OUT</a>
                                    </div>
                                    {{else}}
                                    <div>
                                        <a onclick="addToCart(`{{this._id}}`)" class="btn mt-3"
                                            style="background-color: #F46F36; color: white;">ADD TO CART</a>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>

            <h2 class="product-err-msg text-center" style="color: rgb(165, 161, 161);"></h2>

        </div>


    </div>
</div>

{{!--
<script src="/javaScript/productFilter.js"></script> --}}
<script>

    // Add To Cart
    function addToCart(productID) {
        console.log(`Clicked`)
        const count = 1
        $.ajax({
            url: `/product/add-to-cart`,
            method: 'PUT',
            data: {
                productID,
                count
            },
            success: response => {
                if (response.status) {
                    Swal.fire(response.message)
                } else {
                    Swal.fire(response.message).then(() => window.location.href = response.redirected)
                }
            }
        })
    }

    // Sorting
    const searchSort = document.querySelector('.search-sort');
    const forms = document.querySelectorAll('.needs-validation')

    searchSort.addEventListener('change', (e) => {
    let sortType = searchSort.value
    Array.from(forms).forEach(form => {
    const formData = $('form').serialize();
    $.ajax({
      url: `/products/sort`,
      method: 'GET',
      data: formData + '&' + `sortType` + `=` + sortType,
      success: response => {
              if (response.status) {
                console.log(`Arrived`);
                let productFilters = response.products
                console.log(typeof productFilters);
                
                let html = ``
                if(productFilters == 0) {
                  document.querySelector('#all-products-container').innerHTML = null;
                  document.querySelector('.product-err-msg').innerHTML = "No Product Available";
                  return
                }
                
                productFilters.forEach((productFilter, index) => {
                  html += `
                  <div id="products" class="col-12 col-md-6 col-xxl-4">
                  <div class=" mt-3 products-container">
                      <a href="/product/${productFilter._id}" style="text-decoration: none;">
                          <div class="card mx-auto shadow-lg"
                          style="width: 16rem;cursor: pointer;"
                          >
                              <div class="offer-section px-2 text-center">
                                  OFFER ${productFilter.offer}%
                              </div>
                              <img style="height: 8rem; width: 10.5rem;" src="/uploads/${productFilter.imageUrl[0]}"
                                  class="card-img-top mt-4 mx-auto product-image pt-2" alt="..." />
                              <div class="card-body rounded-3"
                                  // {(isStock this.quantities)}
                                  ${productFilter.quantities <= 0 ?
                                    `
                                    style="background-color: #717171d1;"
                                    `
                                    :
                                    `
                                    style="background-color: white;"
                                    `
                                  }
                                  >
                                  <h6 class="card-title text-center text-black">
                                      ${productFilter.name}
                                  </h6>
                                  <h5 class="card-text text-black">₹${productFilter.salePrice}
                                      <span
                                          class="px-2 text-decoration-line-through text-secondary">₹${productFilter.price}</span>
                                  </h5>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  ${ productFilter.quantities <= 0 ?

                                    `<div>
                                    <a href="#" class="btn mt-3"
                                    style="background-color: rgb(255, 43, 43); color: white;">SOLD OUT</a>
                                    </div>`
                                    :
                                    `<div>
                                    <a onclick="addToCart("${productFilter._id}")" class="btn mt-3"
                                    style="background-color: #F46F36; color: white;">ADD TO CART</a>
                                    </div>`
                                  }

                              </div>
                          </div>
                      </a>
                  </div>
                  </div>
                  `
                  // then the looped Array ${html} is applying 
                  document.querySelector('.product-err-msg').innerHTML = null;
                  document.querySelector('#all-products-container').innerHTML = html;

                })
              } else {
                window.location.href = response.redirected; 
              }
            },
            error: (error) => {
              Swal.fire(`Error: ${error}`)
            }
    });
    })
    })


</script>